html {
  font-family: 'Fredoka One', sans-serif;
}

section {
  display: flex;
}

img {
  width: 9em;
}

p {
  max-width: 19em;
  transform: rotate(-7deg);
}

h1 {
  transform: rotate(-10deg);
}

.text {
  position: relative;
  color: #c09;
}

.animation {
  position: relative;
}

.btn {
  color: #c09;
  border-color: #990073;
}

.ice-cream-cherry {
  position: absolute;
  transform: translate(0em,-2em);
  z-index: 1;

}

.ice-cream-vanilla-fudge {
  position: absolute;
  transform: translate(0em,1.5em);

}

.ice-cream-chocolate-chip {
  position: absolute;
  transform: translate(.5em,5.5em);
  z-index: -9;

}

.ice-cream-mint-chip {
  position: absolute;
  transform: translate(0em,9.75em);
  z-index: -10;

}

.ice-cream-cone {
  position: absolute;
  transform: translate(0em,15em);

}
